@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-white: #F2F0E4;
    --primary-dark: #000000;
    --green: #81DD77;
    --light-blue: #91DDEE;

}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0.5rem 2rem;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}
h2 {
    font-size: 3rem;
}

.text-underline-offset-0-5 {
    text-underline-offset: 0.5rem;
}


.green-frame {
    border: 1rem solid var(--green);
}

.fw-bold {
    font-weight: bold;
}

.mt-3{
    margin-top: 3rem;
}
.mt-5{
    margin-top: 5rem;
}
.ms-3 {
    margin-left: 3rem;
}

.ms-1 {
    margin-left: 1rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    .section-content-wrapper {
        height: 100vh;
        padding: 10% 10% 0 10%;
    }
}

.vertical-line {
    margin: 20vh auto 0 auto;
    height: 80vh;
    width: 1px;
    background-color: var(--primary-white);
    opacity: 0.1;
    border: none;
}

.wosa-wrapper {
    display: flex;
    gap: 50px;
    .wosa-img {
        display: flex;
        position: relative;
        align-items: center;
        img {
            z-index: 2;
            border-radius: 50%;
        }
        &::before{
            content: '';
            position: absolute;
            top: 40%;
            left: 0;
            width: 100%;
            height: 50%;
            border-radius: 50%;
            background-color: var(--primary-dark);
        }
    }
}

.review-head {
    position: relative;
    color: var(--light-blue);
    margin-bottom: 50px;
    &::before {
        position: absolute;
        content: "Review";
        color: var(--green);
        transform: translate(3vw, 3vw);
        z-index: 0;
    }

    &::after {
        position: absolute;
        content: "Review";
        color: var(--primary-white);
        top: 0;
        left: 0;
        margin-bottom: 10%;
        transform: translate(6vw, 6vw);
    }
}

.arrow-wrapper {
    display: flex;
    justify-content: center;
}


.text-green {
    color: var(--green);
}

.text-white {
    color: var(--primary-white)
}

.text-dark {
    color: var(--primary-dark);
}

.bg-white {
    background-color: var(--primary-white);
    color: var(--primary-dark);
}

.bg-dark {
    background-color: var(--primary-dark);
    color: var(--primary-white);
}


@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }
    .wosa-wrapper {
        flex-wrap: wrap;
    }
}


/* ----- */
.form-section-content-wrapper {
    display: flex;              /* Flexbox for form layout */
    justify-content: space-between;
    align-items: flex-start;    /* Align items at the top */
    padding: 5% 10%;
    width: 100%;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    width: 45%;
    h2 {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 6rem;
    }
}

.form-left label, .form-right label {
    margin: 1rem 0;
    text-transform: uppercase;
    color: rgba(242, 240, 228,0.6);
}

input, textarea {
    padding: 20px 30px;
    margin-bottom: 2rem;
    width: 90%;
    background-color: var(--primary-dark);
    color: var(--primary-white);
    border: 1px solid rgba(242, 240, 228,0.1);
    border-radius: 10px;
    &::placeholder {
        color: var(--primary-white);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--primary-white) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--primary-dark) inset !important;
    background-color: var(--primary-dark) !important;
}



textarea {
    resize: none;
    border-color: var(--green);
    background-color: rgba(70, 63, 58, 0.3);
    box-shadow:  20px 20px 100px rgba(70, 63, 58, 0.3),
    -20px -20px 100px rgba(70, 63, 58, 0.3);
}

.agreement-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

button {
    padding: 1rem 0.75rem;
    background-color: var(--green);
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--primary-dark);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: var(--light-blue);
}


input[type="file"] {
    display: none;
}

input[type="checkbox"] {
    width: fit-content;
    accent-color: var(--green);
}

.agreement{
    width: 50%;
    input {
        margin-bottom: 0;
    }
}

.custom-file-upload {
    display: inline-block;
    width: fit-content;
    position: relative;
    padding: 6px 12px;
    cursor: pointer;
    &::after {
        content: "PDF, JPG, PNG, DOC";
        font-style: italic;
        margin-left: 20px;
        font-size: 0.75rem;
        color: rgba(242, 240, 228,0.4)
    }
}


.triad-group {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: "";
        background-image: url("../../public/imgs/footer-img.png");
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &::before {
        top: 0;
        left: 0;
        transform: translate(1vw, 1vw);
    }

    &::after {
        top: 0;
        left: 0;
        transform: translate(2vw, 2vw);
    }
}

.decoration-underline {
    text-decoration: underline;
}

footer {
    min-height: 50vh;
    padding-left: 10%;
    font-weight: 800;
    .logo-wrapper {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            top: 20px;
            left: 20px;
            width: 50px;
            height: 30px;
            background-color: var(--green);
        }
    }
    .member-wrapper, .link-wrapper {
        display: flex;
        margin-right: 10%;
    }
    a {
        text-decoration: none;
        img {
            margin: 0 10px;
        }
    }
    .link-wrapper {
        justify-content: space-between;
        text-align: left;

        margin-right: 10%;
    }
}
