@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-white: #F2F0E4;
    --primary-dark: #000000;
    --green: #81DD77;
    --light-blue: #91DDEE;
    --danger: #d90429;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body, html {
    margin: 0;
    overflow-x: hidden;
}

header {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0.5rem 2rem;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}
h2 {
    font-size: 3rem;
}

.text-underline-offset-0-5 {
    text-underline-offset: 0.5rem;
}


.green-frame {
    border: 1rem solid var(--green);
}

.fw-bold {
    font-weight: bold;
}

.mt-3{
    margin-top: 3rem;
}
.mt-5{
    margin-top: 5rem;
}
.ms-3 {
    margin-left: 3rem;
}

.ms-1 {
    margin-left: 1rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    .section-content-wrapper {
        min-height: 100vh;
        box-sizing: border-box;
        flex: 1;
        width: 100%;
        padding: 5%;
    }
}

.vertical-line {
    margin: 20vh auto 0 auto;
    height: 80vh;
    width: 1px;
    background-color: var(--primary-white);
    opacity: 0.1;
    border: none;
}

.wosa-wrapper {
    display: flex;
    gap: 50px;
    .wosa-img {
        display: flex;
        position: relative;
        align-items: center;
        img {
            z-index: 2;
            border-radius: 50%;
        }
        &::before{
            content: '';
            position: absolute;
            top: 40%;
            left: 0;
            width: 100%;
            height: 120px;
            border-radius: 50%;
            background-color: var(--primary-dark);
        }
    }
}

.review-head {
    position: relative;
    color: var(--light-blue);
    margin-bottom: 50px;
    &::before {
        position: absolute;
        content: "Review";
        color: var(--green);
        transform: translate(3vw, 3vw);
        z-index: 0;
    }

    &::after {
        position: absolute;
        content: "Review";
        color: var(--primary-white);
        top: 0;
        left: 0;
        margin-bottom: 10%;
        transform: translate(6vw, 6vw);
    }
}

.arrow-wrapper {
    display: flex;
    justify-content: center;
}


.text-green {
    color: var(--green);
}

.text-white {
    color: var(--primary-white)
}

.text-dark {
    color: var(--primary-dark);
}
.text-danger {
    color: var(--danger);
}

.bg-white {
    background-color: var(--primary-white);
    color: var(--primary-dark);
}

.bg-dark {
    background-color: var(--primary-dark);
    color: var(--primary-white);
}


.what-we-like {
    margin: 5rem auto;
    width: 80%;
}


.triad-group {
    position: relative;
    img {
        width: 100%;
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        background-image: url("../../public/imgs/footer-img.png");
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &::before {
        top: 0;
        left: 0;
        transform: translate(1vw, 1vw);
    }

    &::after {
        top: 0;
        left: 0;
        transform: translate(2vw, 2vw);
    }
}

.decoration-underline {
    text-decoration: underline;
}

footer {
    min-height: 50vh;
    padding-left: 10%;
    font-weight: 800;
    .logo-wrapper {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            top: 20px;
            left: 20px;
            width: 50px;
            height: 30px;
            background-color: var(--green);
        }
    }
    .member-wrapper, .link-wrapper {
        display: flex;
        margin-right: 10%;
    }
    a {
        text-decoration: none;
        img {
            margin: 0 10px;
        }
    }
    .link-wrapper {
        justify-content: space-between;
        text-align: left;
        gap: 15px;
        margin-right: 10%;
    }
}



@media screen and (max-width: 992px) {
    section, .form-section-content-wrapper {
        flex-direction: column;
    }
    .form-left, .form-right {
        width: 90%;
        margin: 0 auto;
    }
    input, textarea {
        width: auto;
    }


    .vertical-line {
        display: none;
    }
    .wosa-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        .wosa-img {
            &::before{
                content: '';
                position: absolute;
                top: 40%;
                left: 0;
                width: 100%;
                height: 65%;
                border-radius: 50%;
                background-color: var(--primary-dark);
            }
        }
        h2, p {
            text-align: center;
        }
    }
}
