@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-white: #F2F0E4;
    --primary-dark: #1A1A1A;
    --green: #81DD77;
    --light-blue: #91DDEE;

}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-green {
    color: var(--green);
}
